<div>
  <strong>Recuperação de senha</strong>
  <p>Solicitação de alteração de senha realizada para o e-mail {{ email }}</p>
  <p>Para continuar com a recuperação de senha, utilize o token {{ token }}</p>
  <p>Também pode-se alterar a senha clicando no link abaixo.</p>
  <a href=" {{ link }}">Criar nova senha</a>
</div>
